#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form{
  height: 30vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(171, 245, 0, 0.2);
}

.input{
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(1, 240, 200, 0.5);
}